:root {
    --color-black: #1C1C1C;
    --color-white: #FFFFFF;
    --color-light-gray: #E5E7EB;
    --color-dark-gray: #333333;
    --color-gray: #666666;
    --color-cobalt-blue: #0047AB;
    --color-dark-blue: #002B5B;
    --color-red: #FF0000;
    --color-blush: #EA5455;
    --color-vanilla: #F6F1E9;
    --color-pale-khaki: #E4DCCF;
    --color-pale-sage: #F3E9DD;
    --color-ivory: #FEFCF3;
    --color-cream: #F9F5EB;

    --font-style-poppins: 'Poppins', sans-serif;
    --font-style-bai-jamjuree: 'Bai Jamjuree', sans-serif;
    --font-style-lexend-peta: 'Lexend Peta', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html, body {
    height: 100%;
    overflow: auto;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: var(--font-style-poppins);
    font-size: 1.6rem;
    background-color: var(--color-vanilla);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

h2 {
    font-family: var(--font-style-bai-jamjuree);
    padding: 1rem 0;
}

.calc {
    color: var(--color-blush);
}

.ulator {
    color: var(--color-dark-blue)
}

.container {
    width: 28%;
    /* height: 80%; */
    background-color: var(--color-pale-khaki);
    display: flex;
    flex-direction: column;
    border-radius: 3rem;
}   

/* .calc-container {
    border: 2px solid blue;
} */

.title, .screen-display, .buttons-grid {
    margin: 0 2.5rem;
    border-radius: 1rem;
}

.container, .screen-display, .buttons-grid, button {
    border: 0.1rem solid var(--color-dark-gray);
}

.title {
    margin-top: 2rem;
}

.buttons-grid {
    margin-bottom: 3rem;
}

.screen-display {
    padding: 1rem;
    height: 10rem;
    display: flex;
    flex-direction: column;
    background-color: var(--color-ivory);
    align-items: flex-end;
    justify-content: center;
}

.previous-label, .current-label {
    font-family: var(--font-style-bai-jamjuree);
}

.previous-label {
    font-size: 1.8rem;
}

.current-label {
    margin-top: 0.5rem;
    font-size: 4rem;
    font-weight: bolder;
}

/* .keys-container {
    padding: 20px;
} */

.buttons-grid {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
    padding: 2rem;
    height: 45rem;
    background-color: var(--color-cream);
}

button {
    font-size: 2.4rem;
    text-align: center;
    cursor: pointer;
    color: var(--color-dark-gray);
    background-color: var(--color-vanilla);
    border-radius: 1.5rem;
    box-shadow: 0 0.5rem var(--color-white), 0 1rem 0.5rem -0.3rem rgba(0, 0, 0, 0.4);
    font-weight: bold;
    font-family: var(--font-style-lexend-peta);
}

button:hover {
    background-color: var(--color-pale-khaki);
}

button:active {
    background-color: var(--color-pale-khaki);
    transform: translateY(0.4rem);
}

.clear {
    background-color: var(--color-blush);
}

.clear:hover {
    background-color: var(--color-red);
}

.clear:active {
    background-color: var(--color-red);
}

.delete {
    background-color: var(--color-dark-blue);
}

.delete:hover {
    background-color: var(--color-cobalt-blue);
}

.delete:active {
    background-color: var(--color-cobalt-blue);
}

.operator {
    background-color: var(--color-pale-sage);
}

.clear, .delete {
    color: var(--color-white);
    grid-column: span 2;
}

.fa-github {
    color: var(--color-light-gray);
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: scale(1.3);
}

.footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem; 
    color: var(--color-light-gray);
    font-size: 1.5rem;
    background-color: var(--color-dark-gray);
}

/* Media Queries */
/* Media query for screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
/* Styles for small mobile devices */
    .container {
        width: 90%;
        margin: 2rem;
    }   

    .current-label {
        font-size: 3rem;
    }
}
    
/* Media query for screens with a minimum width of 481px and a maximum width of 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
/* Styles for medium mobile devices and tablets */
    .container {
        width: 60%;
        margin: 2rem;
    }   

    .current-label {
        font-size: 3.5rem;
    }
}

/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* Styles for smaller desktop devices and laptops */
    .container {
        width: 60%;
        margin: 2rem;
    }   

    .current-label {
        font-size: 3.5rem;
    }
}

/* Media query for screens with a minimum width of 1025px */
@media only screen and (min-width: 1025px) {
/* Styles for larger desktop devices and wide screens */

}