:root {
    --color-black: #1C1C1C;
    --color-white: #FFFFFF;
    --color-light-gray: #E5E7EB;
    --color-dark-gray: #333333;
    --color-dark-blue: #002B5B;
    --color-red: #EA5455;
    --color-vanilla: #F6F1E9;
    --color-pale-khaki: #E4DCCF;
    --color-pale-sage: #F3E9DD;
    --color-ivory: #FEFCF3;
    --color-cream: #F9F5EB;


    --font-style-poppins: 'Poppins', sans-serif;
    --font-style-bai-jamjuree: 'Bai Jamjuree', sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

html, body {
    height: 100%;
    overflow: auto;
}

html {
    font-size: 62.5%; /* 10px */
}

body {
    font-family: var(--font-style-poppins);
    font-size: 1.6rem; /* 16px */
    background-color: var(--color-vanilla);
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
}

h2 {
    font-family: var(--font-style-bai-jamjuree);
    padding: 10px 0;
}

.calc {
    color: var(--color-red);
}

.ulator {
    color: var(--color-dark-blue)
}

.container {
    width: 28%;
    height: 80%;
    background-color: var(--color-pale-khaki);
    /* border: 2px solid brown; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 30px;
}

/* .calc-container {
    border: 2px solid blue;
} */

.title, .output-display, .buttons-grid {
    margin: 0 25px;
    border-radius: 10px;
    /* border: 2px solid red; */
}

.output-display {
    padding: 50px;
    background-color: var(--color-ivory);
    /* border: 2px solid yellow; */
}

/* .keys-container {
    padding: 20px;
} */

.buttons-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 8px;
    /* border: 2px solid orange; */
    padding: 20px;
    height: 450px;
    background-color: var(--color-cream);
}

button {
    padding: 1px;
    /* border: 2px solid green; */
}

.fa-github {
    color: var(--color-light-gray);
    font-size: 2rem;
    transition: transform 0.3s ease-in-out;
}
  
.fa-github:hover {
    transform: rotate(360deg) scale(1.2);
}

.footer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* 10px */
    width: 100%;
    padding: 1rem; /* 10px */
    color: var(--color-light-gray);
    font-size: 1.5rem; /* 15px */
    background-color: var(--color-dark-gray);
}

/* ================================================================= */
/* Media Queries */

/* Media query for screens with a maximum width of 480px */
@media only screen and (max-width: 480px) {
/* Styles for small mobile devices */

}
    
/* Media query for screens with a minimum width of 481px and a maximum width of 768px */
@media only screen and (min-width: 481px) and (max-width: 768px) {
/* Styles for medium mobile devices and tablets */

}

/* Media query for screens with a minimum width of 769px and a maximum width of 1024px */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* Styles for smaller desktop devices and laptops */

}

/* Media query for screens with a minimum width of 1025px */
@media only screen and (min-width: 1025px) {
/* Styles for larger desktop devices and wide screens */

}